.src-filters {
  background: #EBEBEB;
  box-shadow: 1px 1px 2px #D3D3D3
}
.src-filter-wrapper {
  margin: 0 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  label {
    margin-right: 15px;
  }
}
.src-filter-wrapper:last-child {
  border-top: 2px solid #DFDFDF;
}
#fixed-map {
  position: fixed;
  width: 30%;
  right: 0;
  top: 81px;
  bottom: 0;
}
#page-content {
  margin-right: 30%;
}
