@import "home";
@import "dealers";
@import "list";

.avatar-margin {
  margin: 0 30px;
}

.padded-form {
  padding: 20px;
  border: 1px solid rgb(200,200,200)
}
.box-right-imbricated {
  margin-top: -47px;
  .make-a-deal {
    h2 {
      color: white;
      margin: 0;
      padding: 10px 0;
    }
    opacity: 0.7;
    background-color: black;
  }
  form {
    border: 1px solid rgb(200,200,200);
    border-top: none;
    padding: 20px;
    margin-bottom: 20px;
  }
}
.start-dealing {
   position: absolute;
   // background-color: white;
   z-index: 5;
   form {
    background-color: white;
    border: 1px solid rgb(200,200,200);
    border-top: none;
    padding: 20px;
    margin-bottom: 20px;
  }
}

.user_desc {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.grey {
  width: 100%;
  background-color: rgb(240,240,240);
  padding: 20px;
  border-top: 1px solid rgb(200,200,200);
}

.grey h2 {
  color: #0FC1A1;
}

.form-button {
  width: 100%;
}

.order-listing {
  padding-left: 20px;
}
