.user-desc-icons {
  margin-right: 5px;
}

.product-drug-lg {
  font-size: 13px;
  font-weight: lighter;
  padding: 4px 13px !important;
  border-radius: 30px;
  transition: all 0.15s ease;
  background: #878787;
  color: #FFFFFF;
  border-radius: 30px;
  margin: 3px 1px;
}

.product-drug-lg:first-child {
  margin-left: 5px;
}
