<% if @user == current_user %>
  <%= render "users/my_own_account" %>
<% else %>
  <%= render "users/other_accounts" %>
<% end %>


<% unless @user.address.nil? || @user.address == "" %>
  <div id="grey2">
    <div id="user-map">
      <div id="map" style="width: 100%; height: 600px;"></div>
    </div>
    <% content_for(:scripts) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            markers = handler.addMarkers(<%= raw @marker.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(16)
          });
        })
      <% end %>
    <% end %>
  </div>
<% end %>
