<div class="footer">
  <div class="disclaimer">
    <p>Disclaimer: this is a joke site. We do not condone drug or BBQ sauce use.</p>
    <p>Made in a week for the @lewagon fullstack challenge</p>
    <p>CEO: Quitterie - CTO: Massimo - Intern: Samy</p>
  </div>
  <div class="icons">
    <a href="https://www.facebook.com/snoopdogg/" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/snoopdogg/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://twitter.com/SnoopDogg" target="_blank"><i class="fa fa-twitter"></i></a>
  </div>
</div>
