<div class="footer">
  <div class="disclaimer">
    <p>Disclaimer: this is a joke site. We do not condone drug or BBQ sauce use.</p>
    <p>Made in a week for the @lewagon fullstack challenge</p>
    <p>CEO: Quitterie - CTO: Massimo - Intern: Samy</p>
  </div>
  <div class="icons">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-twitter"></i>
  </div>
</div>
