
<div class= "text-center">
  <div class="banner" style="background-image: url(<%= asset_path 'homepage.png' %>);">
    <div class="banner-gradient"></div>
    <div class="banner-content">
      <h1>Find any drugs around the world</h1>
      <div class="search-container">


      <form action="/users" class="form-inline search-bar">
          <input name="drug[]" type="text" class="form-control" placeholder="Weed">
          <select name="city" class="form-control">
              <option value="" selected>Select city</option>
              <% CITIES.each do |city| %>
                <option><%= city %></option>
              <% end %>
          </select>

          <div class="form-group">
            <div class='input-group date' id='datetimepicker3'>
              <input name="time" id="time" type='text' class="form-control" />
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
          <% content_for(:scripts) do %>
            <%= javascript_tag do %>
              $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT'
                });
              });
            <% end %>
          <% end %>

          <input type="submit" class="btn btn-success" value="Find my dealer!">

        </form>
       </div>
    </div>
  </div>
</div>
