<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('weed.jpg');">
  <div class="banner-content">
    <h1>Get your weed </h1>
    <p>when you want, where you want...</p>
    <a class="btn btn-primary btn-lg">Search a drug</a>
  </div>
</div>
