// Your footer style


body {
  position: relative;
  height: 100%;
  min-height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  background-color: $gray-darker;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .disclaimer {
  margin-left: 20px;
}

.footer .icons {
  margin-right: 20px;
}

.footer p {
  margin: 2px;
}

.footer-push {
  height: 100px;
}

.icons {
  color: $gray-light;
}
