/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

.dark-hr {
  border-color: rgb(200,200,200)
}


// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padded-list > li {
  padding: 8px 0;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Header

.header {
  height: 350px;
  overflow: hidden;
}

.header .black {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}

.header > img {
  width: 100vw;
}
