.product {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  font-size: 14;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #F9F9F9;
  border-radius: 2px;
  // box-shadow: 1px 1px 1px #C8C8C8;
  height: 578px;
}

.card .card-image {
  position: relative;
}
.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

/* Body design */
.product-body {
  flex: 0 0 auto;
}
.product-body h3 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
  color: #333333 !important;
}
.product-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

.product-body span {
  font-weight: lighter;
  font-size: 14px;
  color: #999999;
  margin-bottom: 0;
}

/* Product drugs */
.product-drugs {
  flex: 1 1 auto;
}
.product-drugs-list {
  flex: 0 0 auto;
}
.product-drug {
  font-size: 10px;
  font-weight: lighter;
  padding: 2px 10px !important;
  border-radius: 30px;
  transition: all 0.15s ease;
  background: #878787;
  color: #FFFFFF;
  border-radius: 30px;
  margin: 3px 1px;
}
.product-drug:first-child {
  margin-left: 30px;
}
.product-drug:hover {

}

/* Product image */
.product-image {
  flex: 0 0 auto;
  margin-right: 20px;
  width: 90px;
  border-radius: 50%;
  background-color: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.4) 50%);
}

/* Upvote design */
.product-upvote {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: $green !important;
}
.product-count {
  margin: 2px 0 0;
}
.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
  text-decoration: none;
}
.product-controls:hover {
  color: #FFCC66 !important;
  text-decoration: none;
}

/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
.product-upvote:hover {
  color: #5898f1;
  cursor: pointer;
}
.product:hover .product-upvote { transform: scale(1.2) }
.product:hover .product-controls-hidden a { color: #E6E6E6 }
.product-upvote:hover .product-arrow { border-bottom: 9px solid #5898f1 }
