.tabs {
  display: flex;
  padding: 0 40px;
}

.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.tab {
  flex: 1 1 auto;
  text-align: center;
  z-index: 0;
  position: relative;
  background-color: $green;
  .tab-title {
    color: white;
  }
}

// .tab > .tab-title {
//   color: $green;
// }

// .tab:first-child.active {
//   box-shadow: 5px 0px 10px #E6E6E6;
// }

// .tab:last-child.active {
//   box-shadow: -5px 0px 10px #E6E6E6;
// }

/* .tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
} */
.tab.active > .tab-title {
  color: $green;
}

.tab.active {
  background: white !important;

  border-bottom: 0;
  z-index: 2;
  position: relative;
  .tab-title {
    color: $green;
  }
}

.tab-content {
  background-color: white;
  margin: 0 40px;
  padding: 40px 0;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.tab-content p {
  font-size: 30px;
  font-weight: bold;
}

.tab-content > .container {
  width: 100%;
}
