// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import "users";


h1 {
  font-size: 27px;
  color: $gray;
}

h2 {
  font-size: 24px;
  color: $gray;
}

h3 {
  font-size: 22px;
  color: $gray-light;
}

p {
  font-size: 14px;
  color: $gray-light;
}

li {
 font-size: 14px;
 color: $gray-light;
}
